body {
    background-color: #242424;
    padding: 10px;
    border-radius: 12px;
}

top{
    background-color: aliceblue;
    padding: 20px;
    align-items:center;
    border-radius: 20px;
    color:black;
    direction: column;
    text-align: center;
}

contentt{
    direction: column;
    transition: 1s;
}

contentt p:hover{
    color: bisque;
}